@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
body{
margin: 0;
padding: 0;
font-family: 'Quicksand', sans-serif;
/* font-family: 'Oxygen', sans-serif; */
}

:root {
    --color-primary: #090909;
    --color-secondary: #616365;
    --color-tertiary: #a9aaab;
    --color-quaternary:#e8c122;
    --color-white: white;
    --color-orange: pink;
  }

  /* MENU */
/* =================================================================================== */
  /* .contimg{ */
/* background-image: url("/assets/bandesjaunes.png"); */
  /* } */

.navbartop{
    /* background: var(--color-secondary);     */
    padding-top: 5px;
    padding-bottom: 5px;
    background: rgb(232,193,34);
    background: linear-gradient(117deg, rgba(232,193,34,1) 0%, rgba(97,99,101,0) 65%, rgba(232,193,34,1) 100%);
}

.a{
    background: var(--color-secondary);
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-style: groove;
    box-shadow:  1px 1px 1px var(--color-tertiary),
    -2px -2px 5px var(--color-tertiary);

}

.a :hover{
    padding-left: 10px;
    padding-right: 10px;
}

.b{
margin-top: 8px;
border-radius: 8px;
margin-bottom: 5px;
margin-right: 10px;
padding: 4px;
}

.c{
/* background-color: var(--color-secondary); */
background: rgb(232,193,34);
background: linear-gradient(117deg, rgba(232,193,34,1) 0%, rgba(97,99,101,0) 65%, rgba(232,193,34,1) 100%);
}

.navbartop .a {
    margin: 0px 20px;
    color: var(--color-quaternary);
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 1px 3px 0 #969696, 1px 5px 5px #aba8a8, 10px 15px 10px rgba(169,170,171,0.5);
}

.lia a{
    color: var(--color-quaternary);
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 1px 3px 0 #969696, 1px 5px 5px #aba8a8, 10px 15px 10px rgba(169,170,171,0.5);
    font-size: larger;
    padding-left: 15px;
}

.lia{
    border-style:groove;
    border-radius: 5px;
    margin: 2px;
    background-color: var(--color-tertiary);
}

.navbartop .a :hover{
transition: .4s;
scale: 1.1;
}

.hamburger{
background-color: var(--color-quaternary);

}

.cadrefooter{
    background: var(--color-secondary);
    color:var(--color-white);
  
  }

  .textinputmail{
    padding: 0px;
    margin: 0px;
  }

  .powered{
    color: var(--color-quaternary);
  }

  .groupe{
    color:var(--color-primary);
  }

  .borderenvoi{
    background: var(--color-secondary);
    border: dotted;
    border-color: var(--color-quaternary);
    width: fit-content;
    rotate: 6deg;
translate: 10px -10px;
opacity: 60%;
border-radius: 6px;
  }
 /* ACCUEIL */
/* =================================================================================== */
