<button class="subbutt mb-2" onclick="location.href='#'"><p class="Penvoie m-1" id="lapin">En haut</p></button>
<div class="cadrefooter rounded-4 m-2">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
            <h5 class="text-center">Plan du site</h5>
            <div class="border m-2 p-3 rounded-2">
                <ul class="list-unstyled">
                    <li><a class="btn btn-default" href="index.php">Accueil</a></li>
                    <li><a class="btn btn-default" href="recherche.php">Recherche</a></li>
                    <li><a class="btn btn-default" href="class.php">Mon compte</a></li>
                    <li><a class="btn btn-default" href="class.php">Mes annonces</a></li>
                    <li><a class="btn btn-default" href="class.php">Mon panier</a></li>
                    <li><a class="btn btn-default" href="class.php">Mes achats en cours</a></li>
                    <li><a class="btn btn-default" href="class.php">Créer un compte</a> / <a class="btn btn-default" href="class.php">Se connecter</a></li></ul>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
            <h5 class="groupe text-center">Le groupe "LE MAUVAIS COIN"</h5>
            <div class="border m-2 p-3 rounded-2">
                ECRIRE QUOI QUE CE SOIT
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
            <h5 class="groupe text-center">L'enseigne "L'entrepôt du net"</h5>
            <div class="border m-2 p-3 rounded-2">
                MAIS ECRIRE QUELQUE CHOSE
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
            <h5 class="powered text-center">POWERED BY SEBASTIEN ROULLET💫</h5>
            <div class="border m-2 p-3 rounded-2">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum, libero veniam tempora a doloremque incidunt, quae ducimus dolorum, quas nisi consequatur adipisci magnam perferendis obcaecati deleniti. Eaque optio corporis aliquid?
            </div>
        </div>
    </div>
</div>
