<div class="row mx-3">

    <div class="col-12 col-sm-12 col-md-7 col-lg-8 col-xl-9">
        {% include "default/formRecherche.html.twig" %}
        <div class="rowrecherche row rounded-4 m-1">
            <div class="col-8">
                <p>Dernière annonce postée : </p>
            </div>

            <div>
                {% include "default/annonce.html.twig" %}
            </div>
        </div>
    </div>
    <div class="espacepub col-4 col-sm-4 col-md-4 col-lg-4 col-xl-3 text-center shadow">
        {% include "default/publicite.html.twig" %}
    </div>
</div>