<form action="recherche.php" method="POST">
    <div class="rowrecherche row rounded-4 m-1">
        <div class="col-8">
            <div class="collapsible-accordion">
                <div class="collapsible-item">
                    <input class="inputa" type="checkbox" id="tab10">
                    <label class="collapsible-item-label" for="tab10">Tri par</label>
                    <div class="collapsible-item-content">
                        <ul class="list-unstyled">
                            <li><input type="radio" name="choixtri" id="choixtriDate" checked value="Date de dépôt" />
                                <label for="choixtriDate">Date de dépôt</label></li>
                            <li><input type="radio" name="choixtri" id="choixtriVendeur" value="Vendeur" />
                                <label for="choixtriVendeur">Vendeur</label></li>
                            <li><input type="radio" name="choixtri" id="choixtriProduit" value="Produit" />
                                <label for="choixtriProduit">Produit</label></li>
                            <li><input type="radio" name="choixtri" id="choixtriCategorie" value="Catégorie" />
                                <label for="choixtriCategorie">Catégorie</label></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <button class="subbutt" type="submit"><p class="Penvoie m-1">Envoyer</p></button>
        </div>
        <div class="col-12">
            <div class="collapsible-accordion">
                <div class="collapsible-item">
                    <input class="inputa" type="checkbox" id="tab11">
                    <label class="collapsible-item-label" for="tab11"><label for="recherchemot">Recherche :</label></label>
                    <div class="collapsible-item-content">

                        <input class="inputtxt" type="text" id="recherchemot" name="recherchemot" placeholder="Saisir votre choix!!!" >
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>