{% extends 'base.html.twig' %}

{% block title %}Bonjour Page d'accueil{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bonjour le monde</h1>

    Vous êtes sur la page d'accueil...
    <div>
        <br>
    </div>

    <ul>
        <li>Your controller at <code><a href="{{ 'C:/wamp64/www/symp_flo/lemauvaiscoin/src/Controller/DefaultController.php'|file_link(0) }}">src/Controller/DefaultController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/wamp64/www/symp_flo/lemauvaiscoin/templates/default/index.html.twig'|file_link(0) }}">templates/default/index.html.twig</a></code></li>
    </ul>
    <a class="nav-link" href="{{ path('app_price') }}">Chez nous, c'est pas cher!</a>
    <li>ANNONCES : <code><a href="{{ 'C:/wamp64/www/symp_flo/lemauvaiscoin/templates/default/ad.display.html.twig'|file_link(0) }}">templates/default/ad.display.html.twig</a></code></li>



</div>
{% endblock %}
