{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}

    {% include "default/_index.html.twig" %}
    <ul>
    <li>Créer un compte : <code> <a href="{{ path('new_compte') }}">S'inscrire</a></code></li>
    <a class="nav-link" href="{{ path('app_price') }}">Chez nous, c'est pas cher!</a>
    <li>ANNONCES : <code> <a href="{{ path('ads.display.simple') }}">Annonce n° 1</a></code></li>
    <li>Ajouter une ANNONCE : <code> <a href="{{ path('new_annonce') }}">Annonce</a></code></li>
    </ul>

{% endblock %}
