{% extends 'base.html.twig' %}

{% block title %}Page de login{% endblock %}

{% block body %}
    <div class="container">
    <div class="row align-items-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-9 mb-1">
            <div class="col-12">
            <ul>
                <li>Je n'ai pas de compte : <code> <a href="{{ path('new_compte') }}">S'inscrire</a></code></li>
            </ul>
                <h1 class="text-center">Se connecter</h1>

            </div>
            <div class="col-12">
                {% if error is not null %}
                    <div class="alert-danger mb-3">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}
                <div class="blob w-100 h-auto m-1 p-4 shadow">

{#                <div class=" text-black-50 p-4 m-4 rounded-2 shadow">#}
                <form action="{{ path('app.login') }}" method="post">
                    <input type="hidden"
                           value="{{ csrf_token('authenticate') }}"
                           name="_csrf_token">
                    <div class="form__wrapper p-4">
                        <div class="mb-3 p-4">
                            <label for="loginusername" class="form-label m-1 p-2">Mon e-mail</label>
                            <input type="email" class="form-control w-100" id="loginusername"
                                    name="_username"
                                   placeholder="name@example.com">
                        </div>
                        <div class="mb-4">
                            <label for="loginpwd" class="form-label m-1">Mon mot de passe</label>
                            <input type="password" class="form-control w-100" name="_password" id="loginpwd">
                        </div>
                            <div class="text-center">
                            <button class="subbutt" type="submit">
                                <h6 class="px-1"><p class="Penvoie m-1">Se connecter</p></h6></button>
                        </div>
                    </div>

                </form>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm12 col-md-6 col-lg-4 col-xl-3">
            <div class="espacepub text-center shadow w-100"> {% include "/default/publicite.html.twig" %}</div>
        </div>
    </div>
    </div>

{% endblock %}